<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new user</title>
</head>
<body>
    <h1>New user</h1>
    <form method="post" action="/user">
        <input type="text" name="username" placeholder="username"/>
        <input type="email" name="email" placeholder="email"/>
        <input type="password" placeholder="password" name="password"/>
        <button>ADD</button>
    </form>
    
</body>
</html>